PORT=8000
MONGO_URI="mongodb://127.0.0.1:27017/bilal_tube"
CLIENT_URL="http://localhost:5173"
ACCESS_TOKEN_SECRET="your_access_token_secret"
ACCESS_TOKEN_EXPIRY="1d"
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
REFRESH_TOKEN_EXPIRY="7d"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUD_NAME="your_cloudinary_cloud_name"
NODE_ENV="development"
OPENAPI_SERVER_URLS=http://localhost:8000